*{
	margin: 0;
	padding: 0;
	font-family: "montserrat",sans-serif;
}

body, html {
	width: 100%;
	height: 100%;
}

body {
	background: url(../../images_add/1602b26c05ee78120695d592a68b8912.gif) no-repeat center;
	background-size: cover;
}

.contact-section h1{
	padding-top: 150px;
	font-size: 64px;
	text-align: center;
	color: #ddd;

}
.border{
	width: 100px;
	height: 10px;
	background: #a4b1cd;
	margin: 40px auto;
}

.contact-form{
	max-width: 600px;
	margin: auto;
	padding: 0 10px;
	overflow: hidden;
	padding-bottom: 50px;
}

.contact-form-text{
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 16px 0;
	border: 0;
	background: #141d2b;
	padding: 20px 40px;
	outline: none;
	color: #ddd;
	transition: 0.5s;
}
.contact-form-text:focus{
	box-shadow: 0 0 10px 4px #141d2b;
}
textarea.contact-form-text{
	resize: none;
	height: 120px;
}
.contact-form-btn{
	float: right;
	border: 0;
	background: #34495e;
	color: #fff;
	padding: 12px 50px;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.5s;
}
.contact-form-btn:hover{
	background: #2980b9;
}
@media (max-width: 450px) {
.contact-form{
	padding-bottom: 25px;
}